<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>
<h2>Attendance Table</h2>

<table border="1">
<tr>
    <th>Name</th>
    <th>Reg No</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for r in records %}
<tr>
    <td>{{ r.name }}</td>
    <td>{{ r.regno }}</td>
    <td>{{ r.date }}</td>
    <td>{{ r.time }}</td>
    <td>{{ r.status }}</td>
    <td>
        <a href="/delete/{{ r.id }}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

<br>
<a href="/pending">Pending Panel</a>
</body>
</html>