<!DOCTYPE html>
<html>
<head>
    <title>Pending Panel</title>
</head>
<body>
<h2>Pending Approvals</h2>

<table border="1">
<tr>
    <th>Name</th>
    <th>Reg No</th>
    <th>Date</th>
    <th>Time</th>
    <th>Action</th>
</tr>

{% for r in records %}
<tr>
    <td>{{ r.name }}</td>
    <td>{{ r.regno }}</td>
    <td>{{ r.date }}</td>
    <td>{{ r.time }}</td>
    <td>
        <a href="/approve/{{ r.id }}">Approve</a>
    </td>
</tr>
{% endfor %}
</table>

<br>
<a href="/admin">Back</a>
</body>
</html>